.pf-index {
  position: relative;
  left: 10px;

  width: 20%;
  z-index: -1;

}

#pointer {
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
}
#triangle {
  position: absolute;
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  top: 0;
  left: 99.5%;
  clip-path: polygon(0 15%, 15% 25%, 0 35%);
}

.pf-child {
  position: relative;
  left: 10px;

  width: 20%;
  background-color: var(--color-secondary);
  z-index: -20;
  margin-left: 1px;
}
#pointer-child, #pointer {
  clip-path: polygon(0 0, 0 15%, 15% 25%, 0 35%, 0 100%, 100% 100%, 100% 0);
}
.pf-wrapper {
  margin: 50px 15px;
  display: flex;
  width: 75%;
    min-height: 250px;
}

.inside, .inside-normal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  padding-top: 2rem;

}

.pf-wrapper i {
  font-size: 3rem;
  color: aliceblue;
  font-weight: 600;
}
