:root {
  /* clip-path: polygon(0 0, 0 100%, 100% 50%); */
  /* clip path parameters */
  --clip-parameters: polygon(0 0, 0 100%, 100% 50%);
  /* pointer parameters */
  --pointer-height: 50px;
  --pointer-width: 30px;
}

.pf-section {
  margin-left: 30px;
  margin-bottom: 90px;
}

.pf-wrapper {
  display: flex;
  width: 75%;
  min-width: 1000px;
  min-height: 250px;
}

.pf-child {
  position: relative;
  left: 10px;
  width: 20%;
  background-color: var(--color-secondary);
  z-index: -20;
  margin-left: 1px;
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  padding: 2rem 1rem 0 1rem;
}

.inside i {
  font-size: 3rem;
  color: aliceblue;
  font-weight: 600;
}

#pf-index {
  z-index: -1;
  margin: 0;
  background-color: var(--color-primary);
}

.pointer {
  position: absolute;
  height: var(--pointer-height);
  width: var(--pointer-width);
  clip-path: var(--clip-parameters);
  top: 50px;
}

.pointer-out {
  background-color: var(--color-primary);
  left: calc(100% - 1px);
}

.pointer-in {
  background-color: white;
}
